.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonLeft,
.buttonRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: rgba(57, 48, 189, 0.7);
  cursor: pointer;
  outline: none;
}

.buttonLeft:hover,
.buttonRight:hover {
  color: rgb(60, 25, 189);
}

.buttonLeft {
  left: 10px;
}

.buttonRight {
  right: 10px;
}

.buttonLeft::before {
  content: "◀";
}

.buttonRight::after {
  content: "▶";
}